

.title {
 font-weight: bold;
 font-size: 28px;
 font-family: Lucida, sans-serif;
 color: gray;
}

.subtitle {
 font-size: 18px;
 font-family: Lucida, sans-serif;
 color: gray;
}

.sections {
  width:110%;
 
  
}

.section {
 margin-left: 1px;
 margin-right: 25px;
 font-family: Lucida, sans-serif;
 padding:8px;
 background-color: whitesmoke;
 color: gray;
}

.ecriture {
  font-family: Lucida, sans-serif;
  color: gray;
}

.wrapper {

  margin: auto;
  width: 50%;
}
.section:hover {
  cursor: pointer;
  background-color: whitesmoke;
  border-bottom: 2px solid black;
}


