.cardlist {
  overflow: hidden;
  height: 300px;
  width: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: inherit;
  margin: 20px;
  font-family: Lucida, sans-serif;
  flex-direction: column;
}

.fakeimg {
  height:75%; 
  width: 100%; 
}

.cardlist-info {
  width: 100%;
  height: 100%;
  text-align: center;
}

.like {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  color: gray;
}

.author-date {
  display: inline-flex;
}

.product {
  letter-spacing: 1px;
  color: gray;
  padding-top: 5px; ;
}

.location {
  padding-top: 5px;
  padding-bottom: 5px;
  color: gray;
}

.condition {
  color: gray;
}

.away {
  color: gray;
  margin-left: 5px;
}

.essaie {
  display: flex;
}

.thumbs {
  height: 20px;
  width: 20px;
  padding-right: 5px;
}

.thumbs:hover {
  cursor: pointer;
}