<div *ngFor="let listing of listings" >
    <div class="cardlist">
      <img class="fakeimg" src="assets/{{listing.img}}.jpg">
      <div class="cardlist-info">
        <div class="product-author-date">
          <div class="product">{{listing.product}}</div>
        </div>  
        <div class="location">at {{listing.location}}</div>
        <div class="like">
          <div class="away">
            {{listing.km}} km
          </div>
          <div (click)="onLike(listing)" class="essaie">
              <img class="thumbs" src="assets/thumbsup.png">
              {{listing.like}} 
          </div>
        </div>
    </div>
  </div>
  
