<div *ngFor="let listing of listings">
    <div class="cardlist">
      <img class="fakeimg" src="assets/{{listing.img}}.jpg">
      <div class="cardlist-info">
        <div class="product-author-date">
          <div class="product">{{listing.product}}</div>
          <div class="author-date">
            <div class="author">  By {{listing.author}} </div>
            &bull;
            <div class="date">Posted on {{listing.date}}</div>
          </div>  
        </div>  
        <div class="location">at {{listing.location}}</div>
        <div class="condition">Condtion: {{listing.state}}</div>
        <div class="like">
          <div (click)="onLike(listing)">
            {{listing.like}} Likes
          </div>
        </div>
    </div>
  </div>
  
