<ul>
  <div class="compagny">
    DIVE
  </div>
  <img class="logo" src="assets/logo.jpg">
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#" (click)="changeView('guide')">Field Guide</a></li>
  <li><a href="#" (click)="changeView('listing')">Listings </a></li>
  <li><a href="#" (click)="changeView('home')">Dive Feed</a></li>
</ul>

<div class="mainPage">
  <app-listings *ngIf="view === 'listing'"> </app-listings>
  <app-guide *ngIf="view === 'guide'"></app-guide>
</div>
<div *ngIf="view === 'home'" class="flex-container">
  <app-dive-feed  > </app-dive-feed>
  <app-dive-feed2  > </app-dive-feed2>
  <app-dive-feed3 > </app-dive-feed3>
  <app-dive-feed4 > </app-dive-feed4>
  <app-dive-feed5  > </app-dive-feed5>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
